{% extends "base.html" %}
{% block content %}
<h1>Вход в систему</h1>
<form method="POST" action="{{ url_for('login') }}">
    <label for="username">Логин</label>
    <input type="text" name="username" id="username" required><br>
    <label for="password">Пароль</label>
    <input type="password" name="password" id="password" required><br>
    <input type="checkbox" name="remember" id="remember">
    <label for="remember">Запомнить меня</label><br>
    <button type="submit">Войти</button>
</form>
{% endblock %}
